@charset "UTF-8";

body{
    margin:0px;
}

.barra{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.barrasuperior{
    width: 100%;
    /*filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));*/
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
    

.logo{
   border-radius: 50%;
}

.logo>img{
    width: 100px;
    height: 100px;
}

.recheio{
    width: 100%;
    background-color:"#FFFFF";
}

.caixademateria1{
    width: 100%;
    background-color: rgba(149, 33, 159, 0.15);
    margin-bottom: 30px;
}

.textomateria{
    width: 80%;
    font-size: 25px;
    line-height: 43px;
    color: #95219F;
    font-family: "Lato";
    margin: auto;
    padding-top:20px;
    padding-bottom: 20px;
}

.imagemdacaixa{
    width: 100%;
    margin: auto;
}

.imagemdacaixa>img{
    width: 100%;
}

.textofonte{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #958A8A;
}

p{
    margin: 0%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;

}
.rodape{
    width: 100%;
    /*height: 15%;*/
    background-color: #95219F;
    box-shadow:  0px -6px 4px rgba(0, 0, 0, 0.25);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  
}

.barramenu{
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

.menu{
    padding: 20px;  
}
.menu>a{
    text-decoration:none;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.menu>i{
    color: #FFFFFF;
    display: block;
    text-align: center; 
}

.menu:active{
    background-color: #ba29c7cc;
}

.menu:active>i{
    color: #bdbdbd;
}
.menu:active>a{
    color: #bdbdbd;
}
